<div data-block="lockDeferred" class="bg-info activation-info">
	<div data-ng-show="underTrial || trialExpired || licenseNotValid">
		<div ng-bind-html="trustedHtml(Resources.RegisterInstructions)"></div>
		<br />
		{{Resources.YourHostWebIdIs}} <span class="hostId">{{hostWebId}}</span>
		<br/>
		<br/>
		<div>{{Resources.AfterCodeRecieving}}</div>
		<div>
			<textarea cols="100" rows="2" data-ng-model="licenseKey"></textarea>
		</div>

		<div class="buttons-group">
			<button type="button" class="btn btn-default" title="{{Resources.BackToMainScreen}}" data-ng-click="go('/')">
				{{Resources.BackToMainScreen}}
			</button>
			<button type="button" class="btn btn-success" title="{{Resources.Apply}}" data-ng-click="applyLicense()">
				{{Resources.Apply}}
			</button>
		</div>
	</div>
	<div data-ng-show="licensed">
		{{Resources.YourAppIsLicensed}} <div>{{licenseKey}}</div>
		<div class="buttons-group">
			<button type="button" class="btn btn-default" title="{{Resources.BackToMainScreen}}" data-ng-click="go('/')">
				{{Resources.BackToMainScreen}}
			</button>
		</div>
	</div>
</div>