#s4-bodyContainer #s4-titlerow {
	margin-bottom: 30px;
}

#s4-workspace #contentRow, #s4-workspace #contentBox {
	padding: 0 !important;
	margin: 0 !important;
}

#ng-app-FaqApp {
	margin: 15px;
}

.faq-answer {
	margin-left: 25px;
}

.faq-question {
	padding-left: 25px;
	margin-top: 2px;
}

.faq-question:hover {
	cursor: pointer;
}

.faq-question.plus {
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
}

.faq-question.minus {
	background-image: url("../img/minus.png");
	background-repeat: no-repeat;
	background-position: 0 6px;
}

.error {
	color: red;
}

.question-prev {
	margin: 10px 0 10px 0;
	border: 1px dashed transparent;
}

.question-prev:hover {
	border: 1px dashed #63A1F7;
	cursor: pointer;
}

.btn-actions {
	width: 40%;
}

.btn-action {
	padding: 7px;
}

.btn-action button.btn-block {
	white-space: inherit;
}

.faq-start-title {
	width: 32%;
}

.form-horizontal .form-group {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.buttons-group {
	margin-top: 10px;
}

button[type='button'].img-btn {
	min-width: 0;
	padding: 3px 8px;
}

.edit-faq {
	margin: 5px;
}

.ui-sortable-helper {
	background-color: white;
}

.sortable-placeholder {
	border: 1px dashed #989799;
	height: 30px;
}

.content-edit-error {
	margin-top: -15px;
}

.green {
	color: green;
}

.inline-edit {
	font-size: 1.9em;
	cursor: pointer;
}

div.manage-faq-set-btns {
	padding-top: 2px;
	padding-right: 0;
}

.faq-actions {
	margin: 0 10px;
}

.faq-anim {
	min-width: 200px;
}

.dropdown-header.faq-h {
	font-weight: bold;
	font-size: larger;
}

.dropdown-menu.faq-animations {
	max-height: 250px;
	overflow-y: scroll;
}

.panel.no-top-border {
	border-top: none;
}

.save-success {
	font-size: 28px;
}

div.faq-question.no-plus-symbol {
	background-image: none;
	padding-left: 5px;
}

div.faq-question.no-hover:hover {
	cursor: default;
}

.license-info {
	margin: 5px 5px 15px 5px;
	padding: 10px;
}

.license-line {
	padding: 5px;
	font-weight: 600;
}

.activation-info {
	margin: 5px;
	padding: 10px;
	font-weight: 600;
}

.hostId {
	font-weight: 800;
}

.data-tab {
	cursor: pointer;
}

.data-tab.active {
	cursor: default;
}

.highlighted {
	background-color: #ffd800;
}

.faq-search {
	position: relative;
	margin: 15px 0;
}

.faq-search .faq-srch-input {
	padding-left: 25px;
}

a.faq-clear-search, a.faq-clear-search:visited {
	color: #CC0033;
}
a.faq-clear-search:hover{
	cursor:pointer;
}
.faq-search .fa.fa-search {
	position: absolute;
	top: 8px;
	left: 6px;
	font-size: larger;
}

.faq-search .faq-clear-search {
	position: absolute;
	right: 5px;
	top: 6px;
	font-size: larger;
}