.faq-question{
	background-color: #FFC600;
}

.faq-question.minus{
	background-image: url(bottom.png);
	background-repeat: no-repeat;
	background-position: 6px 6px;
}

.faq-question.plus {
	background-image: url(right.png);
	background-repeat: no-repeat;
	background-position: 6px 6px;
}

.faq-answer{
	background-color: rgb(239, 237, 237);
	padding: 9px;
	margin-left: 0;
}

.faq-question > p{
	margin-bottom:1px;
}

.faq-set-header{
	font-family:Calibri;

}